<!-- Footer -->
<footer class="py-4 px-4">
    <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center">
        <p class="text-green-900 font-medium mb-6 sm:mb-0">Eduardo Braga - <span id="currentYear"></span></p>
        <div class="flex flex-wrap justify-center sm:justify-end space-x-4 mb-8 sm:mb-0">
            <a class="link link-hover font-medium flex items-center space-x-2" target="_" href="https://github.com/educbraga" aria-label="GitHub">
                <i class="fab fa-github text-xl"></i>
                <span class=" xs:inline">Github</span>
            </a>
            <a class="link link-hover font-medium flex items-center space-x-2" target="_" href="https://www.linkedin.com/in/educbraga/" aria-label="LinkedIn">
                <i class="fab fa-linkedin text-xl"></i>
                <span class=" xs:inline">LinkedIn</span>
            </a>
            <a class="link link-hover font-medium flex items-center space-x-2" target="_" href="http://instagram.com/educbraga" aria-label="Instagram">
                <i class="fab fa-instagram text-xl"></i>
                <span class=" xs:inline">Instagram</span>
            </a>
            <a class="link link-hover font-medium flex items-center space-x-2" target="_" href="https://medium.com/@educbraga00" aria-label="Medium">
                <i class="fab fa-medium text-xl"></i>
                <span class=" xs:inline">Medium</span>
            </a>
        </div>
    </div>
</footer>

<script>
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>
