
		<!-- Footer -->
		<footer class="py-2 px-4 sm:px-0">
			<div class="container mx-auto flex justify-between items-center">
				<p class="text-green-900 font-medium">Eduardo Braga - <span id="currentYear"></span></p>
				<div class="flex flex-col xs:flex-row xs:space-x-2 sm:space-x-4">
					<a class="link link-hover font-medium" target="_" href="https://github.com/educbraga">
						<span class="xs:hidden">
							<i class="fab fa-github"></i>
						</span>
						Github
					</a>
					<a class="link link-hover font-medium" target="_" href="mailto:eduardocbraga@hotmail.com">
						<span class="xs:hidden">
							<i class="fas fa-envelope"></i>
						</span>
						Email
					</a>
					<a class="link link-hover font-medium" target="_" href="https://www.linkedin.com/in/educbraga/">
						<span class="xs:hidden">
							<i class="fab fa-linkedin"></i>
						</span>
						Linkedin
					</a>
					<a class="link link-hover font-medium" target="_" href="http://instagram.com/educbraga">
						<span class="xs:hidden">
							<i class="fab fa-instagram"></i>
						</span>
						Instagram
					</a>
				</div>
			</div>
		</footer>

		<script>
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
		</script>
