<!-- Main Header -->
<header class="py-8 text-center">
	<div class="container mx-auto flex justify-between items-center">
		<!-- Logo -->
		<div class="sm:mb-0">
			<a href="/" class="text-3xl font-medium">&lt;Edu/&gt;</a>
		</div>
		<!-- Navigation -->
		<nav class="space-x-3 md:space-x-6">
			<button class="btn btn-primary text-amber-50" onclick="location.href='mailto:eduardocbraga@hotmail.com';">Contact</button>
		</nav>
	</div>
</header>
